Repository futurewei-cloud/alcor-int, pull requests merged in 2020-02, with the labels that each got.

#23 Create a CI workflow for Controller docker image
  .github/workflows/dockerimage.yml
  .github/workflows/maven.yml
  AlcorController/.github/workflows/maven.yml
Labels: build

#24 Create Control Agent Build CI
  .github/workflows/agentdocker.yml
  AlcorControlAgent/build/build.sh
Labels: build

#25 adding netdata helmchart config
  Monitoring/netdata/values.yaml
Labels: monitoring

#26 [Doc update] Add goal state data model design doc
  AlcorController/docs/apis/index.adoc
  AlcorController/docs/visionary_design/goal_state_model.adoc
  AlcorController/docs/visionary_design/table_of_content.adoc
  README.md
Labels: documentation

#27 Adding netdata image files for use in wiki page
  Monitoring/netdata/1.netdata_master.JPG
  Monitoring/netdata/2.netdata_goto_node.JPG
  Monitoring/netdata/3.netdata_node_overview.JPG
  Monitoring/netdata/4.netdata_node_kubelet.JPG
  Monitoring/netdata/5.netdata_node_container.JPG
Labels: documentation, monitoring

#28 add controller entry into netdata process tracking
  Monitoring/netdata/values.yaml
Labels: monitoring

#29 Controller logging framework and improvement for K8s env
  AlcorController/Dockerfile
  AlcorController/pom.xml
  AlcorController/src/com/futurewei/alcor/controller/app/AlcorControllerApp.java
  AlcorController/src/com/futurewei/alcor/controller/cache/config/RedisConfiguration.java
  AlcorController/src/com/futurewei/alcor/controller/cache/message/RedisListener.java
  AlcorController/src/com/futurewei/alcor/controller/cache/repo/PortRedisRepository.java
  AlcorController/src/com/futurewei/alcor/controller/cache/repo/SubnetRedisRepository.java
  AlcorController/src/com/futurewei/alcor/controller/cache/repo/VpcRedisRepository.java
  AlcorController/src/com/futurewei/alcor/controller/comm/grpc/GoalStateProvisionerClient.java
  AlcorController/src/com/futurewei/alcor/controller/comm/grpc/GoalStateProvisionerServer.java
  AlcorController/src/com/futurewei/alcor/controller/comm/message/MessageClient.java
  AlcorController/src/com/futurewei/alcor/controller/comm/message/MessageConsumerFactory.java
  AlcorController/src/com/futurewei/alcor/controller/comm/message/MessageProducerFactory.java
  AlcorController/src/com/futurewei/alcor/controller/logging/ConsoleLogger.java
  AlcorController/src/com/futurewei/alcor/controller/logging/FileLogger.java
  AlcorController/src/com/futurewei/alcor/controller/logging/ILogger.java
  AlcorController/src/com/futurewei/alcor/controller/logging/LogFormatter.java
  AlcorController/src/com/futurewei/alcor/controller/logging/Logger.java
  AlcorController/src/com/futurewei/alcor/controller/logging/LoggerFactory.java
  AlcorController/src/com/futurewei/alcor/controller/model/HostInfo.java
  AlcorController/src/com/futurewei/alcor/controller/model/PortState.java
  AlcorController/src/com/futurewei/alcor/controller/resourcemgr/physical/goalstatemgmt/PortGoalStateProgrammer.java
  AlcorController/src/com/futurewei/alcor/controller/resourcemgr/physical/goalstatemgmt/SubnetGoalStateProgrammer.java
  AlcorController/src/com/futurewei/alcor/controller/resourcemgr/physical/nodemgmt/DataCenterConfigLoader.java
  AlcorController/src/com/futurewei/alcor/controller/resourcemgr/physical/nodemgmt/NodeManager.java
  AlcorController/src/com/futurewei/alcor/controller/utilities/GoalStateUtil.java
  AlcorController/src/com/futurewei/alcor/controller/web/util/ControllerUtil.java
  AlcorController/src/com/futurewei/alcor/controller/web/util/RestPreconditions.java
  AlcorController/src/resources/application-dev.properties
  AlcorController/src/resources/application-k8s-template.properties
  AlcorController/src/resources/application-onebox.properties
  AlcorController/src/resources/application.properties
Labels: feature

#30 Update mizar-programming-flow.md
  AlcorControlAgent/docs/mizar-programming-flow.md
Labels: documentation

#31 Monitoring/netdata update
  Monitoring/netdata/1.netdata_master.JPG
  Monitoring/netdata/2.netdata_goto_node.JPG
  Monitoring/netdata/3.netdata_node_overview.JPG
  Monitoring/netdata/4.netdata_AlcorController.JPG
  Monitoring/netdata/4.netdata_node_kubelet.JPG
  Monitoring/netdata/5.netdata_AlcorControlAgent.JPG
  Monitoring/netdata/5.netdata_node_container.JPG
  Monitoring/netdata/6.netdata_kubelet.JPG
  Monitoring/netdata/7.netdata_container.JPG
  Monitoring/netdata/values.yaml
Labels: monitoring

#34 Update CI workflow to work with the AlcorController and AlcorControlAgent submodules
  .github/workflows/agentdocker.yml
  .github/workflows/dockerimage.yml
  .github/workflows/maven.yml
Labels: build
